/.DS_Store
/DailyDelhiClimateTest.csv
/DailyDelhiClimateTrain.csv
/Electric_Production.csv
/Kaggle2.ipynb
/Nonlinear.ipynb
/Student_Performance.csv
/Time.ipynb
/TimeSeries.ipynb
/Untitled2.ipynb
/Untitled21.ipynb
/Untitled213.ipynb
/Untitled4.ipynb
/World Economic Classifications v2.csv
/class.ipynb
/creditcard.csv
/daily-minimum-temperatures-in-me.csv
/diabetes_prediction_dataset.csv
/kaggle5.ipynb
/monthly-beer-production-in-austr.csv
/sales-of-shampoo-over-a-three-ye.csv
/testwork.ipynb
/testwork1.ipynb
/train.ipynb
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.28.59.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.34.26.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.37.30.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.37.35.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.38.27.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.39.06.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 12.39.15.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 22.04.12.png
/ภาพถ่ายหน้าจอ 2567-10-05 เวลา 22.10.18.png
/สรุปFInance.pdf
/สรุปFinanceFinal.pdf